---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/Hero.astro';
import Navigation from '../components/Navigation.astro';
import Section from '../components/Section.astro';
---

<Layout 
  title="UAPA. Título de la UApA"
  description="El sobrepeso y la obesidad son un problema creciente en México que afecta todos los sectores poblacionales debido a malos hábitos alimenticios, sedentarismo, predisposición genética, entre otros, es por eso que la unidad te brindara las herramientas para diagnosticar, estratificar y tratar la obesidad, las dislipidemias y el síndrome metabólico."
  keywords="Obesidad, dislipidemias, metabolismo, colesterol"
  author="María Teresa Arredondo Garza, Eduardo Mercado Cruz, Domingo Francisco Javier Aguilar Medina, Gil Alfonso Magos Guerrero"
>

<Hero 
  title="Título de la UAPA"
  subtitle="Unidad de Apoyo para el Aprendizaje" 
  authors="Autor 1 | Autor 2 | Autor 3"
  imageCaption="Pie de portada. Tomada de https://suayed.facmed.unam.mx/"
/>

<Navigation />

<main>

<Section id="introduccion" title="Introducción" variant="claro">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-xl-6">
      <p>Lorem ipsum dolor sit amet, <em>consectetur adipiscing</em> elit. Donec vulputate et erat in gravida.
        Sed id felis arcu. Phasellus eget porttitor ligula. Donec ac nulla luctus, sodales est eget, eleifend
        augue. Vivamus elementum, lorem ut commodo ultricies, ipsum erat vehicula libero, ac suscipit magna
        sapien quis metus. Phasellus a odio sed neque pretium sodales eget id dolor. Quisque sed suscipit
        justo. Vivamus vulputate lorem urna, nec bibendum sapien condimentum sed. Fusce nisl elit, ultricies
        ac velit at, aliquam laoreet elit. Phasellus <em>interdum elementum</em> nulla vitae ornare. Phasellus
        bibendum purus quis lectus sodales volutpat. Vivamus suscipit lacinia ipsum, luctus venenatis tellus
        <a target="_blank" href="https://www.unam.mx/">sitio UNAM</a>.
      </p>
    </div>
    <div class="col-xs-12 col-sm-12 col-xl-6">
      <figure class="w-650 mx-auto my-recursos mt-xl-0" data-aos="fade-zoom-in" data-aos-once="true"
        data-aos-easing="ease-in-back" data-aos-duration="800" data-aos-anchor-placement="top-bottom"
        data-aos-offset="150">
        <img class="img-fluid rounded d-block w-100" src="img/cont/confusion.jpg" alt="Imagen 1" title="Imagen 1">
        <figcaption class="text-center">Vestibulum scelerisque tellus sit amet sem lobortis vulputate.
        </figcaption>
      </figure>
    </div>
  </div>

  <div class="col-xs-12 col-sm-12">
    <p>Nam nec congue erat. Ut sed lacus mi. Nam tincidunt condimentum nisi sed aliquam. Phasellus odio arcu,
      iaculis in orci ac, vulputate posuere arcu. Mauris vel ipsum augue. Nullam vitae est eu dolor accumsan
      rhoncus eget in ligula. Etiam porta magna vitae felis cursus, ut rhoncus ligula condimentum.</p>

    <!-- tooltip examples -->
    <button type="button" class="btn btn-secondary" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Tooltip on top">
      Tooltip on top
    </button><br><br>
    <button type="button" class="btn btn-secondary" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-title="Tooltip on right">
      Tooltip on right
    </button><br><br>
    <button type="button" class="btn btn-secondary" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-title="Tooltip on bottom">
      Tooltip on bottom
    </button><br><br>
    <button type="button" class="btn btn-secondary" data-bs-toggle="tooltip" data-bs-placement="left" data-bs-title="Tooltip on left">
      Tooltip on left
    </button>
    <br><br>
    <button type="button" class="btn btn-secondary" data-bs-toggle="tooltip" data-bs-html="true" data-bs-title="<em>Tooltip</em> <u>with</u> <b>HTML</b>">
      Tooltip with HTML
    </button>
    <br><br>
    
    <!-- párrafo -->
     <p>
      Lorem ipsum dolor sit <span class="mensaje" data-bs-toggle="tooltip" data-bs-html="true" data-bs-title="<em>Tooltip</em> <u>with</u> <b>HTML</b>">amet</span> consectetur adipisicing elit. Blanditiis illo animi vero nostrum deleniti dignissimos sit quisquam saepe quis dolorem necessitatibus tempore iste exercitationem qui, ea ullam eveniet debitis eaque?
     </p>
  </div>

  <div class="col-xs-12 col-sm-12 my-recursos mb-0 alert alert-info">
    <h3 class="visually-hidden">Objetivo</h3>
    <div data-aos="fade-left" data-aos-once="true" data-aos-duration="1500"
      data-aos-anchor-placement="top-bottom" data-aos-offset="150" data-aos-easing="ease-in-out-back">
      <p class="mb-0"><i class="icon-target icono me-2" aria-hidden="true"></i> Nunc tempor auctor sem, ut
        posuere est dictum et. Suspendisse in accumsan mauris. Curabitur purus libero, auctor non purus eu,
        tempor porta sem. Suspendisse dolor felis, suscipit in tellus fringilla, egestas finibus nisi. </p>
    </div>
  </div>
</Section>

<Section id="contenido1" title="Vestibulum sed sollicitudin elit" variant="oscuro">
  <!-- acordeón horizontal -->
  <section class="acordeon-horizontal" id="acordeon-horizontal-3">
    <div class="etiquetas">
      <label for="radioC1" id="img1">
        <div class="seccion" id='sec1'>
          <div class="titulo">
            Sección 1
            <div class="icon">
              <i class="fas fa-chevron-down"></i>
            </div>
          </div>
          <div class="fondo">
          </div>
          <div class="info">
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore doloremque illum quia
              veniam rerum, asperiores aliquam? Praesentium explicabo aliquam voluptatem nesciunt officia
              nihil, autem nobis, placeat provident sequi fugiat, ducimus culpa. Sit illum et labore
              quaerat officia corrupti soluta.
            </p>
          </div>
        </div>
      </label>
      <label for="radioC2" id="img2">
        <div class="seccion" id="sec2">
          <div class="titulo">
            Sección 2
            <div class="icon">
              <i class="fas fa-chevron-down"></i>
            </div>
          </div>
          <div class="fondo">
          </div>
          <div class="info">
            <p>
              Facilis libero perspiciatis voluptatem odit, optio iste porro accusamus eius molestiae atque
              distinctio maiores explicabo ea animi voluptatum, quia ducimus. Doloremque commodi
              aspernatur eaque ipsum iure quam qui voluptates deleniti et. Laboriosam laudantium neque
              accusantium modi, distinctio officia repudiandae similique.
            </p>
          </div>
        </div>
      </label>
      <label for="radioC3" id="img3">
        <div class="seccion" id="sec3">
          <div class="titulo">
            Sección 3
            <div class="icon">
              <i class="fas fa-chevron-down"></i>
            </div>
          </div>
          <div class="fondo">
            <img src="css/recursos/acordeon_horizontal/img/imagen1.jpg" alt="">
          </div>
          <div class="info">
          </div>
        </div>
      </label>
      <label for="radioC4" id="img4">
        <div class="seccion" id="sec4">
          <div class="titulo">
            Sección 4
            <div class="icon">
              <i class="fas fa-chevron-down"></i>
            </div>
          </div>
          <div class="fondo">
            <img src="css/recursos/acordeon_horizontal/img/imagen1.jpg" alt="">
          </div>
          <div class="info">
          </div>
        </div>
      </label>
      <label for="radioC5" id="img5">
        <div class="seccion" id="sec5">
          <div class="titulo">
            Sección 5
            <div class="icon">
              <i class="fas fa-chevron-down"></i>
            </div>
          </div>
          <div class="fondo">
            <img src="css/recursos/acordeon_horizontal/img/imagen1.jpg" alt="">
          </div>
          <div class="info">
          </div>
        </div>
      </label>
      <label for="radioC6" id="img6">
        <div class="seccion" id="sec6">
          <div class="titulo">
            Sección 6
            <div class="icon">
              <i class="fas fa-chevron-down"></i>
            </div>
          </div>
          <div class="fondo">
            <img src="css/recursos/acordeon_horizontal/img/imagen1.jpg" alt="">
          </div>
          <div class="info">
            <p>
              Lorem, ipsum dolor sit amet consectetur adipisicing elit. Cum illo sit odit, et voluptate
              deserunt esse nostrum. Architecto eius vero quas molestiae autem quisquam. Doloribus
              voluptas sint voluptate aut consectetur.
            </p>
          </div>
        </div>
      </label>
      <label for="radioC7" id="img7">
        <div class="seccion" id="sec7">
          <div class="titulo">
            Sección 7
            <div class="icon">
              <i class="fas fa-chevron-down"></i>
            </div>
          </div>
          <div class="fondo">
            <img src="css/recursos/acordeon_horizontal/img/imagen1.jpg" alt="">
          </div>
          <div class="info">
            <p>
              Fugit rem modi doloremque culpa qui corporis eveniet suscipit nihil iusto repellendus,
              praesentium beatae natus cupiditate est vitae aut hic vero reiciendis! Reprehenderit
              voluptatum hic earum id quam nobis corrupti!
            </p>
          </div>
        </div>
      </label>
    </div>
    <div class="inputs">
      <div class="radios">
        <input type="radio" name="acordeon" id="radioC1"><i></i>
      </div>
      <div class="radios">
        <input type="radio" name="acordeon" id="radioC2"><i></i>
      </div>
      <div class="radios">
        <input type="radio" name="acordeon" id="radioC3"><i></i>
      </div>
      <div class="radios">
        <input type="radio" name="acordeon" id="radioC4"><i></i>
      </div>
      <div class="radios">
        <input type="radio" name="acordeon" id="radioC5"><i></i>
      </div>
      <div class="radios">
        <input type="radio" name="acordeon" id="radioC6"><i></i>
      </div>
      <div class="radios">
        <input type="radio" name="acordeon" id="radioC7"><i></i>
      </div>
    </div>
  </section>
</Section>

</main>

</Layout>