---
import { UAPA_CONFIG } from '../config/uapa-config.ts';

export interface Props {
  title: string;
  subtitle?: string;
  authors?: string;
  imageCaption?: string;
  showCuaedSection?: boolean;
}

const { 
  title = "Título de la UAPA",
  subtitle = "Unidad de Apoyo para el Aprendizaje",
  authors = "Autor 1 | Autor 2 | Autor 3",
  imageCaption = "Pie de portada. Tomada de https://suayed.facmed.unam.mx/",
  showCuaedSection = UAPA_CONFIG.footer.showCuaedSection
} = Astro.props;
---

<!-- ************* INICIA HERO ************** -->
<header>
  <div class="cover-index">
    <div class="hero">
      <div class="container-fluid py-5 py-md-0">
        <div class="row align-items-center text-center">
          <div class="col-xs-12 col-sm-12">
            <div class="hero-brand d-flex mx-auto">
              <p class="visually-hidden">Enlaces a sitios institucionales</p>
              <ul class="list-unstyled d-flex align-items-center ps-0">
                <li class="not">
                  <a class="d-block" href="https://www.unam.mx/" target="_blank" title="Sitio UNAM" aria-label="Sitio UNAM">
                    <i class="icon-unam logos logos1"></i>
                  </a>
                </li>
                <li>
                  <a class="d-block" href="http://www.facmed.unam.mx/" target="_blank"
                    title="Sitio de la Facultad de Medicina" aria-label="Sitio de la Facultad de Medicina">
                    <img class="logos2" src="img/logomed.svg" alt="">
                  </a>
                </li>
                <li class="not">
                  <a class="d-block" href="https://cuaed.unam.mx/suayed/" target="_blank"
                    title="Sitio SUAyED" aria-label="Sitio SUAyED">
                    <i class="icon-suayed logos3 logos"></i>
                  </a>
                </li>
              </ul>
            </div>
            <div class="cover-title mx-auto">
              <h1>{title}</h1>
            </div>
            <p class="tagline">{subtitle}</p>
            <!-- Mostrar autores solo en modo CUAED -->
            {showCuaedSection && (
              <>
                <hr class="line">
                <p class="autores text-center text-white">{authors}</p>
                <br>
              </>
            )}
            <a class="btn btn-secondary mb-4" href="#introduccion" role="button">Iniciar</a>
            
            <figcaption class="text-center pie-portada" set:html={imageCaption}></figcaption>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
<!-- ************* TERMINA HERO ************** -->
